body {
  font-family: 'alumni-sans-sc', sans-serif;
}

#cartSidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 320px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  transition: right 0.3s ease-in-out;
  z-index: 1050;
  overflow-y: auto;
}

#cartSidebar.active {
  right: 0;
}

.price-tag {
  background-color: aqua;
  padding: 0 1%;
  display: inline-block;
}

#searchInput::placeholder {
  color: #ccc; 
}
